**Problem 1 - Sorting:**

1. Create a DataFrame called fare that contains only the Fare column of the Titanic dataset. Print the head of the result.
2. Create a DataFrame called class age that contains only the Pclass and Age columns of the Titanic dataset, in that order. Print the head of the result.
3. Create a DataFrame called survived gender that contains the Survived and Sex columns of the Titanic dataset, in that order.Print the head of the result

In [1]:
import pandas as pd
import seaborn as sns
titanic = sns.load_dataset('titanic')

# 1
fare = titanic[['fare']]
print(fare.head())

# 2
class_age = titanic[['pclass', 'age']]
print(class_age.head())

# 3
survived_gender = titanic[['survived', 'sex']]
print(survived_gender.head())

      fare
0   7.2500
1  71.2833
2   7.9250
3  53.1000
4   8.0500
   pclass   age
0       3  22.0
1       1  38.0
2       3  26.0
3       1  35.0
4       3  35.0
   survived     sex
0         0    male
1         1  female
2         1  female
3         1  female
4         0    male

**Problem - 2 - Subsetting: Complete all the following Task: Subsetting Rows:**

1. Filter the Titanic dataset for cases where the passenger’s fare is greater than 100, assigning it to fare gt 100.View the printed result.
2. Filter the Titanic dataset for cases where the passenger’s class (Pclass) is 1, assigning it to first class.View the printed result.
3. Filter the Titanic dataset for cases where the passenger’s age is less than 18 and the passenger is female (Sex is "female"), assigning it to female under 18. View the printed result.

In [2]:
import pandas as pd
import seaborn as sns
titanic = sns.load_dataset('titanic')

# 1
fare_gt_100 = titanic[titanic['fare'] > 100]
display(fare_gt_100.head())

# 2
first_class = titanic[titanic['pclass'] == 1]
display(first_class.head())

# 3
under_18 = titanic[titanic['age'] < 18]
display(under_18.head())

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
27,0,1,male,19.0,3,2,263.0000,S,First,man,True,C,Southampton,no,False
31,1,1,female,NaN,1,0,146.5208,C,First,woman,False,B,Cherbourg,yes,False
88,1,1,female,23.0,3,2,263.0000,S,First,woman,False,C,Southampton,yes,False
118,0,1,male,24.0,0,1,247.5208,C,First,man,True,B,Cherbourg,no,False
195,1,1,female,58.0,0,0,146.5208,C,First,woman,False,B,Cherbourg,yes,True

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
6,0,1,male,54.0,0,0,51.8625,S,First,man,True,E,Southampton,no,True
11,1,1,female,58.0,0,0,26.5500,S,First,woman,False,C,Southampton,yes,True
23,1,1,male,28.0,0,0,35.5000,S,First,man,True,A,Southampton,yes,True

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
7,0,3,male,2.0,3,1,21.0750,S,Third,child,False,NaN,Southampton,no,False
9,1,2,female,14.0,1,0,30.0708,C,Second,child,False,NaN,Cherbourg,yes,False
10,1,3,female,4.0,1,1,16.7000,S,Third,child,False,G,Southampton,yes,False
14,0,3,female,14.0,0,0,7.8542,S,Third,child,False,NaN,Southampton,no,True
16,0,3,male,2.0,4,1,29.1250,Q,Third,child,False,NaN,Queenstown,no,False

**Subsetting Rows by Categorical variables:**

1. Filter the Titanic dataset for passengers whose Embarked port is either "C" (Cherbourg) or "S" (Southampton), assigning the result to embarked c or s. View the printed result.
2. Filter the Titanic dataset for passengers whose Pclass is in the list [1, 2] (indicating first or second class), assigning the result to first second class.View the printed result.

In [3]:

titanic = sns.load_dataset('titanic')

# 1
embarked_c_or_s = titanic[titanic['embarked'].isin(['C', 'S'])]
print(embarked_c_or_s)

# 2
first_second_class = titanic[titanic['pclass'].isin([1, 2])]
print(first_second_class)

     survived  pclass     sex   age  sibsp  parch     fare embarked   class  \
0           0       3    male  22.0      1      0   7.2500        S   Third
1           1       1  female  38.0      1      0  71.2833        C   First
2           1       3  female  26.0      0      0   7.9250        S   Third
3           1       1  female  35.0      1      0  53.1000        S   First
4           0       3    male  35.0      0      0   8.0500        S   Third
..        ...     ...     ...   ...    ...    ...      ...      ...     ...
884         0       3    male  25.0      0      0   7.0500        S   Third
886         0       2    male  27.0      0      0  13.0000        S  Second
887         1       1  female  19.0      0      0  30.0000        S   First
888         0       3  female   NaN      1      2  23.4500        S   Third
889         1       1    male  26.0      0      0  30.0000        C   First

       who  adult_male deck  embark_town alive  alone
0      man        True  NaN  Southampton    no  False
1    woman       False    C    Cherbourg   yes  False
2    woman       False  NaN  Southampton   yes   True
3    woman       False    C  Southampton   yes  False
4      man        True  NaN  Southampton    no   True
..     ...         ...  ...          ...   ...    ...
884    man        True  NaN  Southampton    no   True
886    man        True  NaN  Southampton    no   True
887  woman       False    B  Southampton   yes   True
888  woman       False  NaN  Southampton    no  False
889    man        True    C    Cherbourg   yes   True

[812 rows x 15 columns]
     survived  pclass     sex   age  sibsp  parch     fare embarked   class  \
1           1       1  female  38.0      1      0  71.2833        C   First
3           1       1  female  35.0      1      0  53.1000        S   First
6           0       1    male  54.0      0      0  51.8625        S   First
9           1       2  female  14.0      1      0  30.0708        C  Second
11          1       1  female  58.0      0      0  26.5500        S   First
..        ...     ...     ...   ...    ...    ...      ...      ...     ...
880         1       2  female  25.0      0      1  26.0000        S  Second
883         0       2    male  28.0      0      0  10.5000        S  Second
886         0       2    male  27.0      0      0  13.0000        S  Second
887         1       1  female  19.0      0      0  30.0000        S   First
889         1       1    male  26.0      0      0  30.0000        C   First

       who  adult_male deck  embark_town alive  alone
1    woman       False    C    Cherbourg   yes  False
3    woman       False    C  Southampton   yes  False
6      man        True    E  Southampton    no   True
9    child       False  NaN    Cherbourg   yes  False
11   woman       False    C  Southampton   yes   True
..     ...         ...  ...          ...   ...    ...
880  woman       False  NaN  Southampton   yes  False
883    man        True  NaN  Southampton    no   True
886    man        True  NaN  Southampton    no   True
887  woman       False    B  Southampton   yes   True
889    man        True    C    Cherbourg   yes   True

[400 rows x 15 columns]

**3.2 Exploratory Data Analysis Practice Exercise - 1.** Warning: Handle missing values in the Age column by filling them with the median age of the dataset before performing the division.) Answer the following questions from Dataset: Which passenger had the highest fare paid relative to their age? To answer the question perform following operations:

1. Add a column to the Titanic dataset, fare per year, containing the fare divided by the age of the passenger(i.e., Fare/Age).
2. Subset rows where fare per year is higher than 5, assigning this to high fare age.
3. Sort high fare age by descending fare per year, assigning this to high fare age srt.
4. Select only the Name and fare per year columns of high fare age srt and save the result as result.
5. Look at the result. Which adult male passenger (age ≥18 and Sex is ’male’) paid the highest fare relative to their class? To answer the question perform following operations:
6. Add a column to the Titanic dataset, fare per class, containing the fare divided by the passenger class i.e. Fare / Pclass.
7. Subset rows where the passenger is male (Sex is ”male”) and an adult (Age is greater than or equal to 18), assigning this to adult males.
8. Sort adult males by descending fare per class, assigning this to adult males srt.
9. Select only the Name, Age, and fare per class columns of adult males sr and save the result as result.
10. Look at the result.

In [4]:
# Load dataset
titanic = sns.load_dataset('titanic')

# Fill missing age values with median
titanic['age'] = titanic['age'].fillna(titanic['age'].median())

# Part 1: Fare relative to age
titanic['fare_per_year'] = titanic['fare'] / titanic['age']
high_fare_age = titanic[titanic['fare_per_year'] > 5]
high_fare_age_srt = high_fare_age.sort_values(by='fare_per_year', ascending=False)
# Using 'who' column instead of 'name'
result = high_fare_age_srt[['who', 'fare_per_year']]
print("Passengers with high fare relative to age:")
print(result.head())

# Part 2: Adult male fare per class
titanic['fare_per_class'] = titanic['fare'] / titanic['pclass']
adult_males = titanic[(titanic['age'] >= 18) & (titanic['sex'] == 'male')]
adult_males_srt = adult_males.sort_values(by='fare_per_class', ascending=False)
result2 = adult_males_srt[['who', 'age', 'fare_per_class']]
print("\nAdult male passengers with highest fare relative to class:")
print(result2.head())

Passengers with high fare relative to age:
       who  fare_per_year
305  child     164.728261
297  child      75.775000
386  child      46.900000
164  child      39.687500
183  child      39.000000

Adult male passengers with highest fare relative to class:
     who   age  fare_per_class
737  man  35.0        512.3292
679  man  36.0        512.3292
27   man  19.0        263.0000
438  man  64.0        263.0000
118  man  24.0        247.5208

**3.3 Exploratory Data Analysis with Group-by Method Practice Exercise:** Based on the dataset Answer the following question: What percent of the total fare revenue came from each passenger class? To answer the question perform following operation:

1. Calculate the total Fare paid across all passengers in the Titanic dataset.
2. Subset for passengers in first class (Pclass is 1) and calculate their total fare.
3. Do the same for second class (Pclass is 2) and third class (Pclass is 3).
4. Combine the fare totals from first, second, and third classes into a list.  
5. Divide the totals for each class by the overall total fare to get the proportion of fare revenue by class. Based on the dataset Answer the following question: What percent of the total number of passengers on the Titanic belonged to each age group (e.g., child, adult, senior)? To answer the question perform following operation:
6. Create a new column, age group, that categorizes passengers into "child" (age < 18), "adult" (age 18{64), and "senior" (age 65 and above).
7. Calculate the total number of passengers on the Titanic.
8. Count the number of passengers in each age group.
9. Divide the count of each age group by the total number of passengers to get the proportion of passengers in each age group.
10. Display the proportion as a percentage.

In [5]:
import pandas as pd
import seaborn as sns

titanic = sns.load_dataset('titanic')
titanic['age'] = titanic['age'].fillna(titanic['age'].median())

# 3.3.1
total_fare = titanic['fare'].sum()
fare_first = titanic[titanic['pclass'] == 1]['fare'].sum()
fare_second = titanic[titanic['pclass'] == 2]['fare'].sum()
fare_third = titanic[titanic['pclass'] == 3]['fare'].sum()
fare_totals = [fare_first, fare_second, fare_third]
fare_percent = [round(fare/total_fare*100, 2) for fare in fare_totals]
print(fare_percent)

# 3.3.2
def categorize_age(age):
    if age < 18:
        return 'child'
    elif age < 65:
        return 'adult'
    else:
        return 'senior'

titanic['age_group'] = titanic['age'].apply(categorize_age)
total_passengers = titanic.shape[0]
age_group_counts = titanic['age_group'].value_counts()
age_group_percent = round((age_group_counts / total_passengers) * 100, 2)
print(age_group_percent)

[np.float64(63.35), np.float64(13.25), np.float64(23.4)]
age_group
adult     86.08
child     12.68
senior     1.23
Name: count, dtype: float64